body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

header{
    color:  #f8f8f8;
    display: block;
}

a{
    color: #f8f8f8;
}

a:hover{
    color: gainsboro;
}

.cabecera-derecha{
    float: right;
    display: flex;
    padding: 40px;
}

.rojo{
    background: #d83839;
    height: 110px;
}

.blanco{
    color: #d83839;
    margin: auto;
    background: #f8f8f8;
}

.enlaces{
    text-decoration: none;
    float: right;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 7px;
}


#menu{
    list-style: none;
    display: inline-flex;
}

#logo{
    float: left;
    padding-left: 120px;
    padding-top: 30px;
    padding-right: 20px;
}

#titulo{
    float: left;
    font-size: 130%;
    padding-top: 20px;
}

