header #cabeza-roja{
    background: #d83839;
    color: #f8f8f8;
}

header #logo{
    float: left;
}

header #titulo1{
    display: inline-block;
}

header #admin{
    float: right;
}

header #cabeza-blanca{
    background: #f8f8f8;
    color: #d83839;
    border-color: #d83839;
}

.menu{
    list-style: none;
}

#imagen-central{

}

