/**{
    text-align: center;
}
*/

.blanco #menu{
    text-align: center;
}




body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

header{
    color:  #f8f8f8;
    border-bottom: #d83839  1px solid;

}

a{
    color: #f8f8f8;
}

a:hover{
    color: gainsboro;
}

.cabecera-derecha{
    float: right;
    display: flex;
    padding-top: 35px;
    padding-right: 40px;
}

.rojo{
    background: #d83839;
    height: 110px;
}

.blanco{
    color: #d83839;
    height: 40px;
    padding-top: 20px;

}

.enlaces{
    text-decoration: none;
    float: right;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 7px;
}

.lista{
    display: inline-block;
    border-left: #d83839  1px solid;
}

.segunda_lista{
    /*display: none;*/
    list-style: none ;
    background: #d83839;
    position: absolute;
    padding: 18px;
    top: 170px;
    text-align: left;
}

.segunda_lista:hover{
    display: block;
}


.submenus{
    border-bottom: #f8f8f8  1px solid;
    padding: 6px;
}

#submenusJefatura{
    padding: 6px;
}

.boton-blanco{
    color: #d83839;
}

.boton-blanco:hover{
    color:  #f8f8f8;
    background: #d83839;
}


#boton_inicio{
    border-right: #d83839  1px solid;
}

#boton-config{
    height: 36px;
    border-left: none;
    background: white url(image/iconos/17x11pxdesplegar.png) no-repeat;
    background-position: center bottom;
    
}

#boton-config:hover{
    color:  #f8f8f8;
    background: #d83839 url(image/iconos/17x11pxdesplegar2.png) no-repeat;
    background-position: center bottom;
}

#menu{
    list-style: none;
    margin: 0;
}

#desplegable{
    display: inline-flex;
    flex-direction: column;
}

#flecha{
    margin: auto;
}

#reportes{
    border-right: #d83839  1px solid;
}

#logo{
    float: left;
    padding-left: 120px;
    padding-top: 30px;
    padding-right: 20px;
}

#titulo{
    float: left;
    font-size: 130%;
    padding-top: 20px;
}

#parrafo{
    color: #BFBFBF;
}