*{
    text-align: center;
}

body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

header{
    color:  #f8f8f8;
    border-bottom: #d83839  1px solid;

}

a{
    color: #f8f8f8;
}

a:hover{
    color: gainsboro;
}

.cabecera-derecha{
    float: right;
    display: flex;
    padding-top: 35px;
    padding-right: 40px;
}

.rojo{
    background: #d83839;
    height: 110px;
}

.blanco{
    color: #d83839;
    height: 40px;
    padding-top: 20px;

}

.enlaces{
    text-decoration: none;
    float: right;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 7px;
}

.lista{
    display: inline-block;
    border-left: #d83839  1px solid;
}

.boton-blanco{
    color: #d83839;
}

#menu{
    list-style: none;
    margin: 0;


}

#reportes{
    border-right: #d83839  1px solid;
}

#logo{
    float: left;
    padding-left: 120px;
    padding-top: 30px;
    padding-right: 20px;
}

#titulo{
    float: left;
    font-size: 130%;
    padding-top: 20px;
}

#imagenes{

}

#carnes{
    /*width: auto;*/
}

#parrafo{
    color: #BFBFBF;
}